[submodule "Practica con API/Web-storage-API"]
	path = Practica con API/Web-storage-API
	url = git@github.com:larum99/Web-storage-API.git
[submodule "Oral-LUANM-frontend"]
	path = Oral-LUANM-frontend
	url = git@github.com:larum99/Oral-LUANM-frontend.git
[submodule "Semana 8/Sistema Cuentas Bancarias"]
	path = Semana 8/Sistema Cuentas Bancarias
	url = git@github.com:larum99/sistema-cuentas-bancarias.git
[submodule "Semana 6/Hackathon_tienda"]
	path = Semana 6/Hackathon_tienda
	url = git@github.com:Luis2612/Hackathon_tienda.git
[submodule "Semana 11/agenda-telefonica"]
	path = Semana 11/agenda-telefonica
	url = git@github.com:difcTechnology/agenda-telefonica.git
