[submodule "laura-barona-saavedra-portfolio"]
	path = laura-barona-saavedra-portfolio
	url = git@github.com:larum99/laura-barona-saavedra-portfolio.git
[submodule "Odonto-luanm-frontend"]
	path = Odonto-luanm-frontend
	url = git@github.com:RamiroDiaz10/Odonto-luanm-frontend.git
[submodule "Practica con API/Web-storage-API"]
	path = Practica con API/Web-storage-API
	url = git@github.com:larum99/Web-storage-API.git
[submodule "Oral-LUANM-frontend"]
	path = Oral-LUANM-frontend
	url = git@github.com:larum99/Oral-LUANM-frontend.git
[submodule "Semana 8/Sistema Cuentas Bancarias"]
	path = Semana 8/Sistema Cuentas Bancarias
	url = git@github.com:larum99/sistema-cuentas-bancarias.git
